<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style2.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Website Health Checkup</title>
</head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
<!--    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
    Website Health Checkup
  </a>
</nav>
<div class="container">
<form action="/render" method="get">
  <div class="mb-3">
    <label class="form-label">Link</label>
    <input class="form-control" id="email" name="email" aria-describedby="emailHelp">
  </div>
    <div class="mb-3 form-check"></div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>